# This produces a test for the generic workflows for the CLI e2e test.
# The output will be a file binary-linux-amd64-workflow_dispatch and
# its associated provenance that should be moved to the 
# cli/slsa-verifier/testdata/gha_generic/$BUILDER_TAG folder.

on:
  workflow_dispatch:
  push:
    tags:
      # We only expect these on a hard-coded set of tags.
      - 'v4'
      - 'v4.5'
      - 'v4.5.6'

permissions: read-all

env:
  PAT_TOKEN: ${{ secrets.E2E_GO_TOKEN }}
  GH_TOKEN: ${{ github.token }}

jobs:
  generate_name:
    outputs:
      binary-name: ${{ steps.create_name.outputs.binary-name }}
    runs-on: ubuntu-latest
    steps:
      - name: Creates the output name 
        id: create_name
        run: |
          if [ ${{ github.event_name == 'workflow_dispatch' }} ]; then
            echo "::set-output name=binary-name::binary-linux-amd64-workflow_dispatch"
            exit 0
          fi
          # This must be a tag event.
          GITHUB_TAG=${{ github.ref_name }}
          echo "::set-output name=binary-name::binary-linux-amd64-v${GITHUB_TAG}"

  build:
    if: github.event_name == 'workflow_dispatch'
    permissions:
      id-token: write # For signing.
      contents: write # For asset uploads.
      actions: read # For the entrypoint.
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v1.2.1
    with:
      go-version: 1.18
      # We cannot use ${{ env.CONFIG_FILE }} because env variables are not available.
      config-file: .github/configs-go/config-noldflags.yml

  # Now dispatch this workflow again with push tags.
  dispatch:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # tag=v2.4.0
      - id: push
        shell: bash
        run: |
          # Dispatch tags v4, v4.5, and v4.5.6
          DATE=$(date --utc)
          echo "tagging $GITHUB_SHA"

          for tag in v4 v4.5 v4.5.6
          do
            GH_TOKEN=${PAT_TOKEN} gh release create "$tag" --target main
          done

  # Delete the tag once the provenance has been created.
  delete-tags:
    if: github.event_name == 'push'
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # tag=v2.4.0
      - id: push
        run: |
          # Dispatch tags v4, v4.5, and v4.5.6
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

          TAG=${{ github.ref_name }}
          echo $TAG
          GH_TOKEN=${PAT_TOKEN} gh release delete "$TAG" -y
          git push --delete origin "$TAG"
